<!DOCTYPE html>
<html lang="en">

  <head>

    <style>
      #map { height: 500px; }
    </style>

    <meta charset="utf-8">
    <title>Daniel Breen - Data Incubator Application Draft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='theme/bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme/usebootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
  	<script src="{{ url_for('static', filename='bootstrap/usebootstrap.js') }}"></script>

  </head>
  
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Essence of Cuisines</a>

          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

		  <ul class="nav navbar-nav navbar-right">
            <li><a href="#challenge">Visualizing Ethnic Cuisines</a></li>
            <li><a href="#wordclouds">Wordclouds</a></li>
            <li><a href="#ldamodels">LDA Models</a></li>
            <li><a href="#about">About me</a></li>
            <li><a href="https://github.com/dnlbreen/challenge_question_3">Github Repository &nbsp; <i class="fa fa-github" aria-hidden="true"></i></a></li>
		  </ul>

        </div>
      </div>
    </div>


    <div class = "jumbotron">
       <div class = "container">
          <h1>Topic Discovery in Recipes</h1>
          <h3>by Daniel Breen</h3>
       </div>
    </div>


      <a class="anchor" id="challenge"></a>
      <div class="page-header">
          <div class="col-lg-12">
            <h2>Visualizing Ethnic Cuisines</h2>
          </div>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-12">
          <h4 class="text-success"> What distinguishes Italian, Mexican, or Polish cuisines from all the others?</h4>
          <p>We start by assessing the relative importance of ingredients scraped from recipes on foodnetwork.com and

            <ol>
              <li>construct the ingredients lists</li>
              <li>plot wordclouds for each cuisine showing the relative importance of different ingredients</li>
            </ol>
            The results show that different combinations of spices are the most obvious way to distinguish different cuisines from each other. Garlic, salt, and pepper are apparently very common across many cuisines. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4 class="text-success"> With this information, how do the results of clustering algorithms (LDA) compare with our discovered wordclouds? </h4>
          <p>
            About five main types of cuisines can be distinguised. 20 or even 7 topics appears to be too many, but the topics are well defined and distinguished with 4 topics. In the 7 topic model, the model is able to recover something close to Mexican, Italian, Greek, Asian, and 'French' cuisines as different topics.
          </p>
          <p>Future steps:
            <ol>
              <li>gather more data,</li>
              <li>assess the performance of clustering, </li>
              <li>train and validate models using classification and dimensionality reduction, </li>
              <li>develop the methods and compare the models, and </li>
              <li>use the methods and models to gain insight into new data.</li>
            </ol>
          </p>
          <p>
          For example, using data containing information about purchases, such as customer ids, ingredients used in products, and geographical information, we may be able to discover groups of people who prefer characteristic kinds of ingredients. We may also be able to discover groups of ingredients or preparation processes underlying the success or failure of different food products. We can use the models to predict whether new products will be likely to succeed or not.
          </p>
        </div>
      </div>

      <a class="anchor" id="wordclouds"></a>
      <div class="page-header">
        <div class="row">
          <div class="col-lg-12">
            <h2>Wordclouds</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3>With All Spices</h3>
          <p>
            When salt, garlic, and black pepper are included in the list of ingredients, the word clouds look more similar.
          </p>
          <img src="{{ url_for('static', filename='img/with_spices_even.png') }}" width="100%">
          <p>
            Eliminating these spices draws out the differences better so that there is less overlap in key ingredients.
          </p>
          <h3>Without Garlic, Salt, and Black Pepper</h3>
          <p>
          According to the data, French and Polish dishes tend to contain ingredients common in baked goods and dairy products. This is partly due to the fact that searching with the keyword 'french' pulls up 'french toast' as a search result in many, but not all results. "French" dishes tend on the sweet side while Polish dishes contain ingredients like sauerkraut and onions. Greek and Italian dishes are similar, though there might be a slight emphasis on citrus ingredients in Greek cuisine that is not as present in Italian. Japanese, Korean, Thai, Chinese, and Vietnamese food share ingredients not present in other dishes, including scallions and soy sauce. However, Vietnamese food tends more towards sweetness, Korean food emphasises sesame oil, Chinese food ginger (as does Indian and Japanese food), and Thai food lime juice and cilantro leaves.
        </p>
          <img src="{{ url_for('static', filename='img/without_spices_even.png') }}" width="100%">
        </div>
      </div>
      
      <a class="anchor" id="ldamodels"></a>
      <div class="page-header">
        <div class="row">
          <div class="col-lg-12">
            <h3>LDA Models</h3>
              <p>
                I thought it would be interesting to see if machine learning algorithms can pick up on similarities and differences in unlabelled data. I used gensim to train an LDA (Latent Dirichlet Allocation) model and pyLDAvis.gensim to visualize the model.
              </p>
              <p>
                  With 20 topics, many of the topics aren't really well defined, but some of the main categories show up. You can check out which words are most important in a given topic and which topics certain words are most important with the interactive tool generated with pyLDAvis.gensim <a href="{{ url_for('twenty_topics') }}">here</a></p>.
                  
              </p>
                <img src="{{ url_for('static', filename='img/topic_distance_map_20.png') }}" data-label="twenty_topics"/>
                <p>
                  A <a href="{{ url_for('seven_topics') }}">7 topic model</a> is able to distinguish something close to Mexican, Italian, Greek, Asian, and 'French' cuisines as different topics. So far, LDA is not able to distinguish more than that, but as more features are added and the dataset is balanced and enlarged, more cuisines will be distinguishable.
                 </p>
                <img src="{{ url_for('static', filename='img/topic_distance_map_7.png') }}" data-label="seven_topics"/>
                 <p>
                  Finally, with <a href="{{ url_for('four_topics') }}">fewer than 5 topics</a>, we find that LDA is able to separate out different topics robustly. Here we find something corresponding roughly to Asian, Italian, Greek, and 'French'.
                </p>
                <img src="{{ url_for('static', filename='img/topic_distance_map_4.png') }}" data-label="seven_topics"/>
                
          </div>
        </div>
      </div>
      
      <a class="anchor" id="about"></a>
      <div class="page-header">
        <div class="row">
          <div class="col-lg-6">
          </div>
        </div>
      </div>
      <div class="row">
          <div class='col-lg-6'>
            <h2>About me</h2>
            <p>My name is Daniel. I am a physics PhD student at UC San Diego.
              My dissertation involves developing computational models of neurons, estimating parameters for these models, and detecting patterns in sets of estimated parameters.
            </p>
            <p>
              I enjoy discovering insights from data which can inform decision making.
              When I am not learning about science and technology, I like to run, swing dance, and play violin.
              I look forward to applying my technical skills in industry to create interesting and valuable products.</p>
            <h3 class="text-success" style="display:inline">Get in touch:&nbsp;
              <a href="https://www.linkedin.com/in/dnlbreen"><i class="fa fa-linkedin"></i></a>&nbsp;
              <a href="https://github.com/dnlbreen"><i class="fa fa-github"></i></a>&nbsp;
              <a href="mailto:dnlbreen@gmail.com"><i class="fa fa-envelope-o"></i></a>
            </h3>
          </div>
          <div class='col-lg-3'>
            <img src="{{ url_for('static', filename='img/daniel.bmp') }}" width="100%">
          </div>
      </div>

          <!--footer class="footer">
            <div class="container">
              <p class="text-muted">&copy; 2016 Daniel Breen, code is open</p>
            </div>
          </footer-->

  </body>
</html>

